{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% load custom_filters %}
{% load user_agents %}

{% block meta %}
    <meta name="description" content="we{{ this_article.meta_description }}">
    <meta name="keywords" content="{{ this_article.meta_keywords }}">

    <meta property="og:title" content="{{ this_article.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />

    <meta property="og:description" content="{{ this_article.meta_description }}">
    <meta property="og:image" content="{{ this_article.meta_image_url }}">

    <!-- Facebook Comments Moderation -->
    <meta property="fb:app_id" content="812203096174919" />
    <style>
.aj-img{
    max-height:200px;
}
.stay_left{
    float: left;
}
.stay_left a{
    padding: 0 5px;
}
.more_tasks, .stay_right {
    float: right;
}
.stay_right .ellipsis_more{
    cursor: pointer;
}
.more_tasks a{
    padding: 0 5px;
}
.social-share-links{
    display: flex;
    align-items: center;
}
.social-share-button{
    padding: 10px 10px;
}
    </style>
{% endblock %}

{% block third_div_after_section_starts %}
    <div class="col-lg-8 px-md-5 py-5">
    {% endblock %}

    {% block content %}

        {% if user.is_authenticated %}
            <div class="row pt-md-4">
                <div class="container">
                    {% if this_article.publish_status or user.is_superuser %}
                        {% if not this_article.publish_status %}
                            <div class="alert alert-warning">
                                <strong>Warning!</strong> This post is either Archieved or not yet published.
                                <p>(Visible to superuser only)</p>
                            </div>
                        {% endif %}

                        <!-- Jai Swaminarayan -->
                        <!-- <br>{{ this_article.file_location }} -->
                        <!-- <br>{{ this_article.title }} -->
                        <!-- <br>{{ this_article.views_count }} -->
                        <!-- <br>{{ this_article.date_modified }} -->
                        <!-- <br>{{ this_article.date_created }} -->

                        <div class="more_tasks">
                            {% if user.is_superuser %}
                                {% if this_article.publish_status %}
                                    <a href="#"><button class="btn btn-sm btn-warning">Archieve</button></a>
                                {% else %}
                                    <a href="#"><button class="btn btn-sm btn-warning">Publish</button></a>
                                {% endif %}
                                <a href="/edit/{{ this_article.url_title }}"><button class="btn btn-sm btn-info">Edit</button></a>
                            {% endif %}
                        </div>

                        <h1 class="mb-3"> {{ this_article.title |title }}</h1>

                        <!-- File Content -->
                        <!-- This built in tag named "safe" is harmful. Use only if u trust the content -->
                        <div id="fileContent"> {{ file_content|safe }} </div>

                        <div class="social-share-links row">
                            <div class="social-share-button fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ share_string }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share To Facebook</a>
                            </div>
                            <div class="social-share-button">
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ share_string }}" onclick="return !window.open(this.href, 'Twitter', 'width=500,height=500')" data-size="large">
                                    <button class="btn" style="background-color: #00acee; color:white;"><i class="fab fa-twitter"></i> Tweet
                                    </button></a>
                            </div>
                            <div class="social-share-button">
                                <!-- share_link will not work in localhost in Linkedin -->
                                <!-- try to write facebook.com instead of share_link and it will work -->
                                <a class="" href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_link }}" onclick="return !window.open(this.href, 'Linkedin', 'width=500,height=500')">
                                    <button class="btn" style="background-color: #2867b2; color:white;"><i class="fab fa-linkedin"></i> Share to Linkedin
                                    </button></a>
                            </div>

                            <!-- https://pypi.org/project/django-user-agents/ -->
                            {% if request|is_mobile %}
                                <div class="social-share-button">
                                    <a class="" href="whatsapp://send?text={{ share_string }}" data-action="share/whatsapp/share">
                                        <button class="btn" style="background-color: #4fce5d; color:white;"><i class="fab fa-whatsapp"></i> Share to Whatsapp
                                        </button></a>
                                        <br>

                                </div>
                            {% endif %}
                        </div>

                        <hr>
                        <div class="stay_left">
                            <!-- <a href="pdf/"> -->
                            <!--     <i class="fas fa-print"></i> Print Article -->
                            <!-- </a> -->
                            <a href="#">
                                <i class="far fa-envelope"></i> Email Article
                            </a>
                        </div>

                        <div class="stay_right">
                            <a class="ellipsis_more">
                                <i class="fas fa-ellipsis-v"></i>
                            </a>
                        </div>

                        <!-- To enable Facebook Moderator Commenting,
                            you need to from development mode to live
                            To enable Live mode,
                            1. https://developers.facebook.com/apps
                            2. Set up (privacy policy url && (data deletion policy url || data deletion callback url))

                            Screenshots have been uploaded for future reference in static/facebook/ folder
                            Link to Refer:

                            https://developers.facebook.com/docs/plugins/comments/

                        -->
                        {% if this_article.allow_comments %}
                            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="10" data-order-by="social" colorscheme="dark"></div>
                        {% else %}
                            <p class="text-danger">
                            Comments are turned off.
                            </p>
                        {% endif %}

                        <div>
                            Edit Article on Clicking edit
                            Featured Image <br>
                            Show more posts here. No one is going back<br>
                        </div>

                        <br><br>
                        <div style="float: left; font-size: 12px;">
                            <!-- The source for timesince is located under django/utils/timesince.py and thus some code is edited there like limiting django timesince filter to 7 days -->
                            <!-- Timesince wont to be applied to posts older than 7 days -->
                            <strong><i class="fas fa-eye"></i></strong> {{ this_article.views_count }} views<br>
                            <i class="far fa-edit"></i> {{ this_article.date_modified | timesince }} <br>
                            <i class="far fa-calendar-plus"></i> {{ this_article.date_created | timesince }} <br>
                        </div>

                        <div style="float: right;"></div>
                        <div style="clear: both;"></div>
                    {% else %}
                        <center>
                            <h4>No such Article Published</h4>
                            <br>
                            <img src="/static/images/errors/article-not-found-min.jpg" alt="" class="img aj-img img-thumbnail">
                            <br>
                            <h2><a href="/">Go to Home Page</a></h2>
                        </center>
                    {% endif %}
                </div>
            </div>
        {% else %}
            {% include 'signin.html' %}
        {% endif %}
        <!-- END -->
    {% endblock %}

    {% block third_div_after_section_ends %}
        </div>
    {% endblock %}

    {% block scripts %}
        <script>
            $(document).ready(function() {
                            console.log("HI")
                        });
        </script>
    {% endblock %}
