{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}
{% load custom_filters %}
{% load user_agents %}

{% block meta %}
    <meta name="description" content="we{{ this_article.meta_description }}">
    <meta name="keywords" content="{{ this_article.meta_keywords }}">

    <meta property="og:title" content="{{ this_article.title }}" />
    <meta property="og:url" content="{{ request.build_absolute_uri }}" />

    <meta property="og:description" content="{{ this_article.meta_description }}">
    <meta property="og:image" content="{{ this_article.meta_image_url }}">

    <!-- Facebook Comments Moderation -->
    <meta property="fb:app_id" content="812203096174919" />
    <style>
#link_to_copy{
    display: none;
}
.aj-img{
    max-height:200px;
}
.stay_left{
    float: left;
}
.stay_left a, .stay_right a, .stay_right_items{
    padding: 0 8px;
}
.more_tasks, .stay_right {
    float: right;
}
.stay_right .fa_pointer{
    cursor: pointer;
}
.more_tasks a{
    padding: 0 5px;
}
.social-share-links{
    display: flex;
    align-items: center;
}
.social-share-button{
    padding: 10px 10px;
}
.report_article span{
    display: block;
}
    </style>
{% endblock %}

{% block third_div_after_section_starts %}
    <div class="col-lg-8 px-md-5 py-5">
    {% endblock %}

    {% block content %}

        {% if user.is_authenticated %}
            <div class="row pt-md-4">
                <div class="container">
                    {% if this_article.publish_status or user.is_superuser %}
                        {% if not this_article.publish_status %}
                            <div class="alert alert-warning">
                                <strong>Warning!</strong> This post is either Archieved or not yet published.
                                <p>(Visible to superuser only)</p>
                            </div>
                        {% endif %}

                        <!-- Jai Swaminarayan -->
                        <!-- <br>{{ this_article.file_location }} -->
                        <!-- <br>{{ this_article.title }} -->
                        <!-- <br>{{ this_article.views_count }} -->
                        <!-- <br>{{ this_article.date_modified }} -->
                        <!-- <br>{{ this_article.date_created }} -->

                        <div class="more_tasks">
                            {% if user.is_superuser %}
                                {% if this_article.publish_status %}
                                    <a href="#"><button class="btn btn-sm btn-warning">Archieve</button></a>
                                {% else %}
                                    <a href="#"><button class="btn btn-sm btn-warning">Publish</button></a>
                                {% endif %}
                                <a href="/edit/{{ this_article.url_title }}"><button class="btn btn-sm btn-info">Edit</button></a>
                            {% endif %}
                        </div>

                        <h1 class="mb-3"> {{ this_article.title |title }}</h1>

                        <!-- File Content -->
                        <!-- This built in tag named "safe" is harmful. Use only if u trust the content -->
                        <div id="fileContent"> {{ file_content|safe }} </div>

                        <hr>
                        <div class="social-share-links row">
                            <div class="social-share-button fb-share-button" data-href="{{ request.build_absolute_uri }}" data-layout="button_count" data-size="large">
                                <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ share_string }}&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share To Facebook</a>
                            </div>
                            <div class="social-share-button">
                                <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ share_string }}" onclick="return !window.open(this.href, 'Twitter', 'width=500,height=500')" data-size="large">
                                    <button class="btn" style="background-color: #00acee; color:white;"><i class="fab fa-twitter"></i> Tweet
                                    </button></a>
                            </div>
                            <div class="social-share-button">
                                <!-- share_link will not work in localhost in Linkedin -->
                                <!-- try to write facebook.com instead of share_link and it will work -->
                                <a class="" href="https://www.linkedin.com/shareArticle?mini=true&url={{ share_link }}" onclick="return !window.open(this.href, 'Linkedin', 'width=500,height=500')">
                                    <button class="btn" style="background-color: #2867b2; color:white;"><i class="fab fa-linkedin"></i> Share to Linkedin
                                    </button></a>
                            </div>

                            <!-- https://pypi.org/project/django-user-agents/ -->
                            {% if request|is_mobile %}
                                <div class="social-share-button">
                                    <a class="" href="whatsapp://send?text={{ share_string }}" data-action="share/whatsapp/share">
                                        <button class="btn" style="background-color: #4fce5d; color:white;"><i class="fab fa-whatsapp"></i> Share to Whatsapp
                                        </button></a>
                                        <br>

                                </div>
                            {% endif %}
                        </div>

                        <!-- <hr> -->
                        <div class="stay_left">
                            <!-- <a href="pdf/"> -->
                            <!--     <i class="fas fa-print"></i> Print Article -->
                            <!-- </a> -->
                            <a href="#">
                                <i class="far fa-envelope"></i> Email Article
                            </a>
                        </div>

                        <div class="stay_right">
                            <span class="btn btn-sm btn-light">
                                <a class="fa_pointer stay_right_items">
                                    {% if saved %}
                                        Save Article <i class="far fa-bookmark"></i>
                                    {% else %}
                                        Saved <i class="fas fa-bookmark"></i>
                                    {% endif %}
                                </a>
                            </span>
                            <span class="dropdown fa_pointer stay_right_items">
                                <span class="btn btn-sm btn-light" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    More
                                    <i class="fas fa-ellipsis-v"></i>
                                </span>
                                <span class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#report_article">Report</a>
                                    <a class="dropdown-item" id="copy_link_dropdown_item">Copy Link</a>
                                    <a class="dropdown-item">Cancel</a>
                                </span>
                            </span>
                        </div>
                        <div style="clear: both;"></div>


                        <input type="text" name="copy_link" id="link_to_copy">

                        <!-- <div class="toast" data-autohide="false"> -->
                        <div class="toast">
                            <div class="toast-header">
                                <strong class="mr-auto">Link Copied</strong>
                            </div>
                        </div>

                        <!-- The Report Article Modal Starts -->
                        <div class="modal" id="report_article">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h3 class="modal-title">Report</h3>
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body report_article">
                                        <h4>Reason for reporting the post</h4>
                                        <span>
                                            <input type="radio" id="report_fake_info" name="report_reason" value="fake_info">
                                            <label for="report_fake_info">Fake Information</label>
                                        </span>

                                        <span>
                                            <input type="radio" id="report_hate_speech" name="report_reason" value="hate_speech">
                                            <label for="report_hate_speech">Hate Speech</label>
                                        </span>

                                        <span>
                                            <input type="radio" id="report_harrasment" name="report_reason" value="harrasment">
                                            <label for="report_harrasment">Harrasment</label>
                                        </span>

                                        <span>
                                            <input type="radio" id="report_illegal_sale" name="report_reason" value="illegal_sale">
                                            <label for="report_illegal_sale">Illegal Sale</label>
                                        </span>

                                        <span>
                                            <input type="radio" id="report_nudity" name="report_reason" value="nudity">
                                            <label for="report_nudity">Nudity</label>
                                        </span>

                                        <span>
                                            <input type="radio" id="report_spam" name="report_reason" value="spam">
                                            <label for="report_spam">Spam</label>
                                        </span>


                                        <span>
                                            <input type="radio" id="report_violation_of_laws" name="report_reason" value="violation_of_laws">
                                            <label for="report_violation_of_laws">Violation of Laws</label>
                                        </span>

                                        <span>
                                            <input type="radio" id="report_others" name="report_reason" value="others">
                                            <label for="report_others">Others</label>
                                        </span>

                                        <textarea id="report_reason_text" name="report_reason_text" style="width:100%;" rows="2" required></textarea>
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light" data-dismiss="modal">Report</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- The Report Article Modal Ends -->

                        <hr>
                        <div style="margin-bottom: 30px;"></div>

                        <!-- To enable Facebook Moderator Commenting,
                            you need to from development mode to live
                            To enable Live mode,
                            1. https://developers.facebook.com/apps
                            2. Set up (privacy policy url && (data deletion policy url || data deletion callback url))

                            Screenshots have been uploaded for future reference in static/facebook/ folder
                            Link to Refer:

                            https://developers.facebook.com/docs/plugins/comments/

                        -->
                        {% if this_article.allow_comments %}
                            <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-width="" data-numposts="10" data-order-by="social" colorscheme="dark"></div>
                        {% else %}
                            <p class="text-danger">
                            Comments are turned off.
                            </p>
                        {% endif %}

                        <div>
                            Edit Article on Clicking edit
                            Featured Image <br>
                            Show more posts here. No one is going back<br>
                            Hindi also <br>
                        </div>

                        <br><br>
                        <div style="float: left; font-size: 12px;">
                            <!-- The source for timesince is located under django/utils/timesince.py and thus some code is edited there like limiting django timesince filter to 7 days -->
                            <!-- Timesince wont to be applied to posts older than 7 days -->
                            <strong><i class="fas fa-eye"></i></strong> {{ this_article.views_count }} views<br>
                            <i class="far fa-edit"></i> {{ this_article.date_modified | timesince }} <br>
                            <i class="far fa-calendar-plus"></i> {{ this_article.date_created | timesince }} <br>
                        </div>

                        <div style="float: right;"></div>
                        <div style="clear: both;"></div>
                    {% else %}
                        <center>
                            <h4>No such Article Published</h4>
                            <br>
                            <img src="/static/images/errors/article-not-found-min.jpg" alt="" class="img aj-img img-thumbnail">
                            <br>
                            <h2><a href="/">Go to Home Page</a></h2>
                        </center>
                    {% endif %}
                        </div>
                </div>
            {% else %}
                {% include 'signin.html' %}
            {% endif %}
            <!-- END -->
        {% endblock %}

        {% block third_div_after_section_ends %}
                </div>
            {% endblock %}

            {% block scripts %}

                <script>
                    $(document).ready(function() {
                                            {% if DEBUG is False %}
                                                $("#link-to-copy").val("https://www.{{ project_name }}.com/article/" + "{{ request.session.url_title}}");
                                        {% else %}
                                                $("#link-to-copy").val("{{ project_name }}/article/" + "{{ request.session.url_title}}");
                                        {% endif %}
                                            console.log("HI")
                                        });


                            $("#copy_link_dropdown_item").click(function(){
                                                    var copyText = document.getElementById("link_to_copy");
  copyText.select();
  copyText.setSelectionRange(0, 99999)
  document.execCommand("copy");

                                                                $('.toast').toast('show')
                                                                console.log("Jai Swaminarayan")
                                                            });
                </script>
            {% endblock %}
