{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}


{% block content %}
    <form action="/new/" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">articles/</span>
            </div>
            <input type="text" class="form-control" placeholder="url title" name="url_title">
        </div>

        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="file Name" name="file_name">
            <div class="input-group-append">
                <span class="input-group-text">.html</span>
            </div>
        </div>
        {% for m in messages %}
            <h4 style="color: red;">{{m}}</h4>
        {% endfor %}
        <div>
            <input type="submit" value="Go" class="btn btn-primary">
        </div>
    </form>
{% endblock %}
