{% extends 'base.html' %}

{% load static %}
{% load socialaccount %}

{% block head_content %}
<style>
.active-home{ font-weight: 600 !important; }
.active-home a{ color: #1eafed !important; }
.active-home a:after{
    visibility: visible !important;
    -webkit-transform: scaleX(1) !important;
    -moz-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    -o-transform: scaleX(1) !important;
    transform: scaleX(1) !important; }    
</style>
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <div class="row pt-md-4">
            <div class="col-md-12">
                <div class="blog-entry d-md-flex">
                    <a href="../articles/1-keylogger.php" class="img img-2" style="background-image: url({% static 'images/articles/keylogger/1-keylogger.jpg' %});"></a>
                    <div class="text text-2 pl-md-4">
                        <h3 class="mb-2"><a href="../articles/1-keylogger.php">Tricks to steal password using hackers keylogger, 100% working</a></h3>
                        <div class="meta-wrap">
                            <p class="meta">
                            <span><i class="icon-calendar mr-2"></i>Mar 23, 2020</span>
                            <span><a href="#"><i class="icon-folder-o mr-2"></i>Hacking</a></span>
                            </p>
                        </div>
                        <p class="mb-4">
                        Set Max length of 200 chars to this Paragraph  [:200] <br>
                        Keystroke Logging, often referred to as keylogging or keyboard capturing, is the action of recording the keys pressed on keyboard. The person using the keyboard is unaware that their actions are being monitorized. </p>
                        <div id="textbox">
                            <a href="../articles/1-keylogger.php" class="btn-custom align-left">Read More <span class="ion-ios-arrow-forward"></span></a>
                            <span class="align-right"><u><b>{{ project_name }}</b></u> <i class="icon-eye"></i>1158</span>
                        </div>
                        <!-- Then just remember to clear your float: -->
                        <div style="clear: both;"></div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        {% include 'signin.html' %}
    {% endif %}
    <!-- END -->
{% endblock %}
