{% extends 'base.html' %}

{% load static %}

{% block head_content %}
    <style>
.active-new{ font-weight: 600 !important; }
.active-new a{ color: #1eafed !important; }
.active-new a:after{
    visibility: visible !important;
    -webkit-transform: scaleX(1) !important;
    -moz-transform: scaleX(1) !important;
    -ms-transform: scaleX(1) !important;
    -o-transform: scaleX(1) !important;
    transform: scaleX(1) !important; }    

    #publishButton[disabled]:hover {
    background: #d9534f  !important;
    border-color: #d9534f !important;
    color: white;
    cursor: not-allowed;
}
    #publishButton[disabled]:hover::before {
      content: "Please save before you " !important;
}

    .textarea {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;

        border:1px solid #999999;
        width:100%;
        margin:5px 0;
        padding:3px;
    }

    </style>
    <link href="{% static 'css/mycss_for_new.css' %}" rel="stylesheet" type="text/css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}

{% load static %}
{% load socialaccount %}

{% block content %}
    {% if request.user.is_superuser %}
        <!-- Toggleable / Dynamic Pills -->
        <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#write"><i class="fa fa-pencil" aria-hidden="true"></i>
                    Write</a>
            </li>
            <li class="nav-item" id="preview-nav">
                <a class="nav-link" data-toggle="tab" href="#preview"><i class="fa fa-eye" aria-hidden="true"></i>
                    Preview</a>
            </li>
        </ul>
        <!-- <h6 style="color: #1eafed; font-family: Verdana;" class="text-center" id="ajh6">The United Codes</h6> -->


        <div class="tab-content">

            <div id="write" class="container tab-pane active"><br>
                <div>

                    <fieldset>
                        <div class="input-group mb-3">
                            <input type="text" placeholder="File Name" class="" id="file-name" maxlength="80">
                            <div class="input-group-append">
                                <span class="input-group-text">.html</span>
                            </div>
                        </div>
                        <textarea id="codeContent" class="textarea" name="" cols="100%" rows="5" placeholder="Code" onkeypress="disable_publish_before_save()"></textarea>
                    </fieldset>
                    <p id="saving-status" class="text-muted"></p>

                    <button class="btn btn-sm align-left" id="sender">Save as Draft</button>

                    <span class="align-right"><button type="button" class="btn btn-primary btn-sm" data-target="#confirmation-box" data-toggle="modal" id="publishButton">Publish</button></span>

                    <div style="clear: both;"></div>
                    <hr>

                    <fieldset>
                        <legend><i class="fa fa-header" aria-hidden="true"></i></legend>
                        <input placeholder="Title" type="text" name="title" style="width: 100%;" maxlength="80">
                    </fieldset>

                    <fieldset>
                        <legend><i class="fab fa-battle-net"></i></legend>
                        <input type="text" name="url_title" placeholder="URL Title Without Spaces" style="width: 100%;" maxlength="80">
                    </fieldset>

                    <fieldset>
                        <legend><i class="fas fa-tags"></i></legend>
                        <input type="text" name="meta_keywords" placeholder="Meta Keywords" style="width: 100%;" maxlength="">
                    </fieldset>

                    <fieldset>
                        <legend><i class="fas fa-link"></i></legend>
                        <input type="text" name="meta_current_page_url" placeholder="Meta Current Page Url" style="width: 100%;" maxlength="511">
                    </fieldset>

                    <fieldset>
                        <legend><i class="fas fa-info-circle"></i></legend>
                        <textarea class="textarea" name="meta_description" cols="100%" rows="2" placeholder="Meta Description" maxlength="165"></textarea>
                        <!-- https://stackoverflow.com/questions/4459610/set-maxlength-in-html-textarea -->
                    </fieldset>

                    <fieldset>
                        <legend><i class="far fa-image"></i></legend>
                        <input type="text" name="meta_image_url" placeholder="Meta Image Url" style="width: 100%;" maxlength="200">
                    </fieldset>

                    <!-- <input type="button" value="Publish" data-toggle="modal" class="btn btn-primary" data-target="#confirmation-box"> -->

                    <!-- Modal Starts -->
                    <div class="modal fade" id="confirmation-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm Publish?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-primary">Are you sure you want to Publish?</p>
                                    <p class="text-secondary">Article Link will be live at:</p>
                                    <span class="align-left">
                                        <p class="bg-light text-dark" id="link-to-copy">https://www.{{ profile_name }}.com/article/my-long-long-title-to-Publish-live-article</p>
                                    </span>
                                    <span class="align-right copy-link" onclick="copyLinkToClipboard()" id="copy-Link">Copy Link <i class="far fa-clone"></i></span>
                                    <div style="clear: both;"></div>
                                    <p id="clipboard-copy-status" class="text-success"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Publish</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal Ends-->
                    <div id="space-at-last"></div>
                </div>


                <div class="container" id="footer">
                    <div>
                        <div class="row xs-g-gap">
                            <div class="text-center">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add Sub-Heading"><i class="fa fa-heading" aria-hidden="true"></i></button>
                            </div>
                            <div class="text-center mr-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add Paragraph"><i class="fa fa-paragraph" aria-hidden="true" style="color: #292b2c;"></i></button>
                            </div>
                            <div class="text-center ml-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add List"><i class="fa fa-list" aria-hidden="true" style="color: green;"></i></button>
                            </div>
                            <div class="text-center mr-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add List"><i class="fa fa-list-ol" aria-hidden="true" style="color: green;"></i></button>
                            </div>
                            <div class="text-center ml-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Embed Youtube Video"><i class="fa fa-youtube-play" aria-hidden="true" style="color: red;"></i></button>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Embed Tweet"><i class="fa fa-twitter" aria-hidden="true" style="color: #00acee;"></i></button>
                            </div>
                        </div>
                        <div class="row xs-g-gap">
                            <div class="text-center">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add Blockquote"><i class="fa fa-quote-left" aria-hidden="true" style="color: #b5b5b5;"></i></button>
                            </div>
                            <div class="text-center mr-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Create hyperlink"><i class="fa fa-link" aria-hidden="true" style="color: #1eafed;"></i></button>
                            </div>
                            <div class="text-center ml-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add Code"><i class="fa fa-code" aria-hidden="true" style="color: #808080;"></i></button>
                            </div>
                            <div class="text-center mr-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add info or alert boxes"><i class="fa fa-info-circle" aria-hidden="true" style="color: #f0ad4e;"></i></button>
                            </div>
                            <div class="text-center ml-1">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Insert Image"><i class="fa fa-picture-o" aria-hidden="true" style="color: #5bc0de;"></i></button>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Add table"><i class="fa fa-table" aria-hidden="true" style="color: teal;"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="preview" class="container tab-pane fade"><br>
                <h3>Preview</h3>
                <p>Default</p>
            </div>

        </div> <!-- End of tab-content -->

    {% endif %}
    <!-- END -->
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function() {
                    $('[data-toggle="tooltip"]').tooltip();
                });
    </script>

    <script>
        $(document).ready(function() {
                    $("#preview-nav").click(function() {
                                // $("#preview").load(location.href + " #preview > *");
                                // $("#preview").load('{% static "demo.html" %}');
                                // var b = $('#codeContent').html(a);
                                var codeContentValue = document.getElementById("codeContent");
                                var s = codeContentValue.value;

                                var finalpreview = document.getElementById("preview");
                                finalpreview.innerHTML = s;
                            });
                });

                $(function() {
                            $("textarea[maxlength]").bind('input propertychange', function() {
                                        var maxLength = $(this).attr('maxlength');
                                        if ($(this).val().length > maxLength) {
                                                    $(this).val($(this).val().substring(0, maxLength));
                                                }
                                    })
                        });

    </script>

    <script>
        $('#myModal').on('shown.bs.modal', function () {
                    $('#myInput').trigger('focus')
                })

                function copyLinkToClipboard() {
                            var range = document.createRange();
                            range.selectNode(document.getElementById("link-to-copy"));
                            window.getSelection().removeAllRanges(); // clear current selection
                            window.getSelection().addRange(range); // to select text
                            document.execCommand("copy");
                            window.getSelection().removeAllRanges();// to deselect
                            document.getElementById("clipboard-copy-status").innerHTML = "Link Copied to Clipboard!"
                        }
    </script>

    <script>

        $("#sender").click(function () {
                    var filename = $('#file-name').val();
                    var codeContent = $('#codeContent').val();

                    $.ajax({
                                url: '{% url 'get_response' %}',
                                data: {
                                            'filename': filename,
                                            'codeContent': codeContent,
                                        },
                                dataType: 'json',
                                success: function (response_data) {
                                            document.getElementById('saving-status').innerHTML = response_data["response"];
                                        }
                            });
                    $("#publishButton").removeAttr("disabled");
                });
    </script>

    <script>
        function disable_publish_before_save(){
                    document.getElementById('publishButton').disabled=true;
                    document.getElementById('saving-status').innerText="Not saved";
                }
    </script>


{% endblock %}
