{% load socialaccount %}
<center>
    <div id="main-signin">
        <div id="signin-text">Please Sign in to continue</div>
        <a href="{% provider_login_url 'google' %}">
            <button class="loginBtn loginBtn--google">
                <i class="fa fa-google fa-fw"></i> Signin with Google
            </button>
        </a>
        <br>
        <br>
        <div id="privacy-text">We respect your privacy.  We are committed to assuring the privacy of individuals who visit our web site. By using the {{ project_name }} or any of our products, services, features, tools, or resources, you agree to the terms of our Privacy Policy and our <a href="../tnc/">Terms and Conditions </a>of Use.</div>
    </div>
</center>
